@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: var(--FF);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.img--2 {
    margin: 0;
}

input,
button{
    font: inherit;
}

/* || VARIABLES */
:root {
/* FONTS */
    --FF: 'DM Sans', sans-serif;
    --HEADING-FS: 3rem;
    --HEADING-FW:500;
    --SUBHEADING-FS: 2rem;
    --SUBHEADING-FW:600;
    --FS: 1rem;
    --FW: 300;
    --SPAN-FW: 500;
    --SPAN-BOLD: 700;
    --FIGCPTN--FW: 300;
    --LINE-HEIGHT: 2em;

    /* COLORS */
    --GRADIENT: radial-gradient(at top left, #ebcbf7 0%, #f9e9ec 20%, #fdfcf9 30%);
    --TEXTCOLOR: #8D8B8D;
    --LINKBGCOLOR:#654EFC;
    --LINKCOLOR: #fff;
    --FOOTERBGCOLOR: #FDFCF9;
    --FOOTERCOLOR: #4F4F4F;
    --ARROWBGCOLOR: #FDF8FC;
    --ARROWBORDERCOLOR:#CDCDCD;
    --FORMCOLOR: #BCBCBC;
    --LABELCOLOR: #000;
    --LABELBGCOLOR: #F6E8FA;
    --HEADINGCOLOR: #000;
}

/* || UTILITY CLASSES */
.gradient {
    background: var(--GRADIENT);
}

.nowrap {
    white-space: nowrap;
}

/* || GENERAL STYLES */
/* BLOCKS */
.card {
    padding: 1em;
}

.card__text {
    margin: 20px;
}

.card--top {
    padding-bottom: 4em;
}

h1{
    font-size: var(--HEADING-FS);
    font-weight: var(--HEADING-FW);
}

h2 {
    font-size: var(--SUBHEADING-FS);
    font-weight: var(--SUBHEADING-FW);
}

p {
    color: var(--TEXTCOLOR);
    font-weight: var(--FW);
    line-height: var(--LINE-HEIGHT);
    font-size: var(--FS);
}

figcaption {
    color: var(--TEXTCOLOR);
    font-weight: var(--FW);
}

#members {
    color: var(--LINKBGCOLOR);
    font-weight: var(--SPAN-BOLD);
}

span {
    margin: 1rem 0 1rem 0;
    font-weight: var(--SPAN-FW);
}

/* Buttons & Links */
button {
    background-color: var(--LINKBGCOLOR);
    color:var(--LINKCOLOR);
    border: none;
    border-radius: 4px;
    padding: 15px 20px;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card__text a {
    margin: 1rem 0 1rem 0;
    font-weight: 500;
}

.card__text
a:any-link {
    color: var(--LINKBGCOLOR);
    text-decoration: none;
}

span  a{
    color: var(--LINKBGCOLOR);
    text-decoration: none;
}

/* || HEADER */
/* Mobile */
.mobile__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.mobile__logo {
    justify-self: flex-start;
}
.mobilenav__img {
    justify-content: flex-end;
}

/* Tablet/Desktop */
.desktop__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.desktop__logo {
    justify-self: flex-start;
    padding: 1em;
}

.desktop__navbar ul {
    list-style-type: none;
    gap: 25px;
    display: flex;
    align-items: center;
}

.desktop__navbar a:any-link {
    text-decoration: none;
    color: var(--HEADINGCOLOR);
}

.desktop__navbar .nav__button a {
    background-color: var(--LINKBGCOLOR);
    color: var(--LINKCOLOR);
    border: none;
    border-radius: 4px;
    padding: 15px 20px;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    white-space: nowrap;
}

/* || FOOTER */
footer {
    background-color:var(--FOOTERBGCOLOR);
    padding: 4em 1em;
    margin-top: 3em;
}

footer p {
    font-size: .95rem;
    font-weight: 300;
    color: var(--FOOTERCOLOR);
}
/* Footer nav */
.footer__ul{
    list-style-type: none;
    line-height: 2rem;
}

footer li a:any-link{
    text-decoration: none;
    font-weight: 300;
    color: var(--FOOTERCOLOR);
}

/* || MEDIA QUERIES */
/* SMALL [Phone] */
@media screen and (max-width: 481px){
    .desktop__navbar {
        display: none;
    }

    .footer__navbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }

    /* NAV UL */
    .col1-list1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .col1-list2 {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .col2-list1 {
        grid-row: 1/2;
        grid-column: 3/4;
    }
    .col2-list2 {
        grid-row: 2/3;
        grid-column: 3/4;
    }
}

/* MEDIUM [Tablet] */
@media screen and (min-width: 482px) and (max-width: 768px){
    .mobile__navbar {
        display: none;
    }

    .card--top {
        padding-bottom: 6em;
    }

    .card--middle {
        display: flex;
        flex-flow: row-reverse wrap;
        gap: 15px;
    }

    .card--bottom {
        display: flex;
        flex-flow: row-reverse wrap;
    }

    .card__figure {
        flex-shrink: 0;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 50px 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
    }

    .footer__div {
        grid-column: 1/3;
        gap: 50px;
    }

    .footer__navbar {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }

    /* NAV UL */
    .col1-list1 {
        grid-column: 1/2;
    }
    .col2-list1 {
        grid-column:3/4 ;
    }
    .col1-list2 {
        grid-column:1/2 ;
    }
    .col2-list2 {
        grid-column: 3/4;
    }
}

/* LARGE [Desktop] */
@media screen and (min-width: 769px){
    .mobile__navbar {
        display: none;
    }

    .card--top {
        padding-bottom: 6em;
    }

    .card--middle {
        display: flex;
        flex-flow: row-reverse nowrap;
        gap: 15px;
        flex-grow: 1;
        padding-right: 70px;
    }

    .card card--bottom {
        display: flex;
        flex-flow: row-reverse nowrap;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 150px 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
    }

    .footer__div {
        grid-column: 1/2;
        gap: 50px;
    }

    .footer__navbar {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr;
        gap: 30px;
    }

    /* NAV UL */
    .col1-list1 {
        grid-column: 1/2;
    }
    .col2-list1 {
        grid-column: 2/3;
    }
    .col1-list2 {
        grid-column: 3/4;
    }
    .col2-list2 {
        grid-column: 4/5;
    }


}

/*
---------------------- sign-up.html ----------------------------
*/
.arrow-menu {
    background-color: var(--ARROWBGCOLOR);
    padding: 10px 13px;
    border: 2px solid var(--ARROWBORDERCOLOR);
    border-radius: 5px;
}

.signup-body {
    margin: 25px 15px;
    background-color: var(--LABELBGCOLOR);
}

.signup-ul {
    line-height: 2rem;
    font-size: 1.25rem;
    font-weight: 300;
    list-style-type: none;
    margin: 10px;
}

.signup-ul li {
    margin-bottom: 20px;
}

.signup-ul li:nth-child(1)::marker{
    content:'🎈';
}
.signup-ul li:nth-child(2)::marker{
    content:'🗞️';
}
.signup-ul li:nth-child(3)::marker{
    content:'💡';
}

form {
    background-color: var(--LINKCOLOR);
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
}

legend {
    font-weight: 600;
    font-size: 1.5rem;
}

.label {
    color: var(--LABELCOLOR);
    font-weight: 600;
}

input {
    padding: 15px;
    margin: 5px;
    font-size: 1.25rem;
    font-weight: 100;
    color: var(--FORMCOLOR);
    border: 2px solid var(--FORMCOLOR);
    border-radius: 8px;
}
::placeholder {
    color: var(--FORMCOLOR);
}

.form-anchor {
    text-decoration: underline;
    font-weight: 700;
}

.form-button {
    background-color: var(--LINKBGCOLOR);
    color: var(--LINKCOLOR);
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.25rem;
}